<!DOCTYPE html>
<html xmlns:th="http://www.thymeliaf.org">
<head>
<meta charset="utf-8"/>
<title>verifie client</title>
<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
verifi client
<p></p>
<div class="container">
<div class="card border-primary mb-3">
  <div class="card-header"> Visiter votre compte</div>
  <div class="card-body">
 <form th:action="@{/votreCompte}" method="get">
  <label>Nom :</label>
  <input type="text" name="nom"  />
  <br>
  <label>Code Compte :</label>
  <input type="text" name="codeCmpt"  />
  <button class="btn btn-primary">OK</button>
  <p class="text-danger" th:text=${ressayer}></p>
 </form>
</div>
</div>
</div>
</body>
</html>